@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLDz8V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiEyp8kv8JHgFVrFJA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLGT9V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLEj6V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLCz7V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmSU5vAw.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmEU9vAw.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmWUlvAw.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v15/4iCv6KVjbNBYlgoC1CzTtw.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v15/4iCs6KVjbNBYlgo6eA.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v15/4iCv6KVjbNBYlgoCjC3Ttw.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v15/4iCv6KVjbNBYlgoCxCvTtw.ttf) format('truetype');
}
@font-face {
  font-family: 'Cormorant Garamond';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/cormorantgaramond/v10/co3WmX5slCNuHLi8bLeY9MK7whWMhyjYrEPjuw-N.ttf) format('truetype');
}
@font-face {
  font-family: 'Cormorant Garamond';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/cormorantgaramond/v10/co3ZmX5slCNuHLi8bLeY9MK7whWMhyjYrHtP.ttf) format('truetype');
}
@font-face {
  font-family: 'Cormorant Garamond';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/cormorantgaramond/v10/co3WmX5slCNuHLi8bLeY9MK7whWMhyjYrEO7ug-N.ttf) format('truetype');
}
@font-face {
  font-family: 'Cormorant Garamond';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/cormorantgaramond/v10/co3WmX5slCNuHLi8bLeY9MK7whWMhyjYrEOXvQ-N.ttf) format('truetype');
}
@font-face {
  font-family: 'Cormorant Garamond';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/cormorantgaramond/v10/co3WmX5slCNuHLi8bLeY9MK7whWMhyjYrEPzvA-N.ttf) format('truetype');
}
@font-face {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/cormorantgaramond/v10/co3YmX5slCNuHLi8bLeY9MK7whWMhyjQAllvuQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/cormorantgaramond/v10/co3bmX5slCNuHLi8bLeY9MK7whWMhyjorg.ttf) format('truetype');
}
@font-face {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/cormorantgaramond/v10/co3YmX5slCNuHLi8bLeY9MK7whWMhyjQWlhvuQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/cormorantgaramond/v10/co3YmX5slCNuHLi8bLeY9MK7whWMhyjQdl9vuQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/cormorantgaramond/v10/co3YmX5slCNuHLi8bLeY9MK7whWMhyjQEl5vuQ.ttf) format('truetype');
}
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  scroll-behavior: smooth;
  font-size: 10px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
p,
span,
i {
  user-select: none;
}
a {
  text-decoration: none;
  color: #000000;
}
button {
  border: 0;
  outline: none;
}
.container {
  width: 100%;
  height: 100%;
  min-width: 40%;
  max-width: 850px;
  margin: auto;
}
.button-box {
  font-family: "Poppins", sans-serif;
  padding: 0.8rem 2rem;
  background-color: #68ecc4;
  border-radius: 2px;
  text-transform: capitalize;
  font-weight: 500;
}
.button-box::before {
  content: "";
  position: absolute;
  bottom: 20%;
  right: 6%;
  width: 100%;
  height: 100%;
  border: 0.1rem solid #68ecc4;
}
::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder {
  color: #bbbbbb;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}
.side-nav-bar {
  display: block;
  width: 100%;
  height: 9rem;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  background-color: #68ecc4;
  transition: 0.3s top ease;
}
.side-nav-bar-inner {
  display: block;
  margin: 0 auto;
  height: inherit;
  text-align: center;
  max-width: 110rem;
  padding: 0 5%;
  position: relative;
}
.side-nav-bar-inner .fad {
  cursor: pointer;
  position: absolute;
}
.side-nav-bar-inner .fad:hover::after {
  opacity: 1;
  transition: 0.3s opacity ease;
}
.side-nav-bar-inner .fad:hover::before {
  opacity: 0.4;
  transition: 0.3s opacity ease;
}
.side-nav-bar-inner-exit {
  right: 0;
  top: 35%;
  font-size: 2.3rem;
}
.side-nav-bar-inner-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
}
.side-nav-bar-inner-form a {
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  transition: 0.3s letter-spacing ease;
}
.side-nav-bar-inner-form a:hover {
  letter-spacing: 0.5rem;
  transition: 0.3s letter-spacing ease;
}
.hide {
  top: -35%;
  transition: 0.3s top ease;
}
@media (max-width: 1145px) {
  .side-nav-bar-inner {
    max-width: 95rem;
  }
}
@media (max-width: 1000px) {
  .side-nav-bar-inner {
    max-width: 86rem;
  }
}
@media (max-width: 900px) {
  .side-nav-bar-inner {
    max-width: 76rem;
  }
}
@media (max-width: 780px) {
  .side-nav-bar-inner {
    max-width: 65rem;
  }
}
@media (max-width: 660px) {
  .side-nav-bar-inner {
    max-width: 56rem;
    padding: 0 7%;
  }
}
@media (max-width: 565px) {
  .side-nav-bar {
    height: 7rem;
  }
  .side-nav-bar-inner {
    padding: 0 15%;
  }
  .side-nav-bar-inner .fad {
    right: 6%;
  }
  .side-nav-bar-inner-form a {
    font-size: 1.2rem;
  }
}
@media (max-width: 450px) {
  .side-nav-bar {
    height: 11rem;
  }
  .side-nav-bar-inner {
    padding: 0 2%;
  }
  .side-nav-bar-inner .fad {
    top: 5%;
  }
  .side-nav-bar-inner-form {
    flex-direction: column;
    align-items: flex-start;
  }
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 9rem;
  padding-top: 4rem;
}
.header-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  width: 100%;
  height: 100%;
}
.header-icon {
  width: 3rem;
  height: 2.77rem;
  position: relative;
  bottom: 10%;
  background: url("images/carting.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.header-box {
  display: flex;
  align-items: flex-start;
  width: 20%;
}
.header-box:first-child {
  padding-left: 0.5rem;
  padding-top: 0.5rem;
}
.header-box-burger-circle {
  width: 80%;
  height: 80%;
  background-color: #000000;
  border-radius: 50%;
  display: grid;
  place-items: center;
  cursor: pointer;
  position: relative;
  transition: background 0.3s ease;
}
.header-box-burger-circle:hover {
  background-color: #ffffff;
  transition: background 0.3s ease;
}
.header-box-burger-circle:hover span {
  background-color: #000000;
  transition: background 0.3s ease;
}
.header-box-burger-circle span:first-child {
  position: absolute;
  top: 35%;
  height: 0.2rem;
}
.header-box-burger-circle span {
  height: 0.2rem;
  width: 1.35rem;
  background-color: #e9e9e9;
}
.header-box-burger-circle span:last-child {
  position: absolute;
  top: 60%;
}
.header-box-inner {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-box-inner:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 11%;
}
.header-box-inner:first-child span {
  display: inline-block;
  border: 0.2rem solid #000000;
  border-radius: 50%;
  padding: 0.3rem;
  position: absolute;
}
.header-box-inner:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 17%;
}
.header-box-inner:nth-child(2) span {
  display: inline-block;
  border: 0.2rem solid #000000;
  border-radius: 50%;
  padding: 0.3rem;
  position: absolute;
}
.header-box:last-child {
  display: flex;
  text-align: center;
  justify-content: flex-start;
}
.header-title {
  padding-bottom: 0.3rem;
  padding-left: 0.3rem;
  font-size: 1.6rem;
  font-family: "Ubuntu", sans-serif;
  color: #68ecc4;
  letter-spacing: 0.1rem;
}
.header-title span {
  color: #000000;
}
.intro {
  height: 62.5rem;
  background: url("images/shape.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 10rem;
}
.intro .container {
  height: 40%;
}
.intro-inner {
  margin-top: 2.5rem;
  padding-left: 0.2rem;
  position: relative;
}
.intro-inner-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.intro-inner-box-subtitle {
  position: absolute;
  top: 95%;
  margin-left: 5.5rem;
}
.intro-inner-box-subtitle span {
  border: 0.2rem solid #68ecc4;
  padding: 1.8rem 9rem;
  position: absolute;
  right: 4%;
  top: 22%;
}
.intro-title {
  text-transform: capitalize;
  color: #363639;
  font-size: 9.7rem;
  letter-spacing: 0.4rem;
  font-family: "Roboto", sans-serif;
}
.intro-sneaker-img {
  width: 45rem;
  height: 45rem;
  position: absolute;
  margin: 0 auto;
  left: 0%;
  right: 0%;
  top: 20%;
  bottom: 0;
}
.intro-subtitle {
  font-size: 1.6rem;
  color: #363639;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  padding: 0.7rem 1.5rem;
  background-color: #68ecc4;
  font-weight: 700;
  letter-spacing: 0.1rem;
  border-radius: 2px;
}
.intro-bottom-container {
  max-width: 1000px;
  height: 50%;
  display: flex;
  align-items: center;
  margin: 0 auto;
  position: relative;
}
.intro-bottom-box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: absolute;
}
.intro-bottom-box:first-child {
  width: 20%;
  transform: rotate(270deg);
  font-size: 0.9rem;
  line-height: 1.6;
  right: 86%;
  bottom: 40%;
  font-family: "Poppins", sans-serif;
  color: #bdbdbd;
}
.intro-bottom-box:last-child {
  right: 7%;
  bottom: 0%;
}
.intro-icon {
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 50%;
  padding: 0.8rem 0.8rem;
  transition: background 0.3s ease;
  text-align: center;
}
.intro-icon:first-child {
  background-color: #ffffff;
  color: #68ecc4;
}
.intro-icon:first-child:hover {
  color: #ffffff;
  background-color: #000000;
  transition: background 0.3s ease;
}
.intro-icon:nth-child(2) {
  margin-top: 2rem;
  background-color: #000000;
  color: #ffffff;
}
.intro-icon:nth-child(2):hover {
  background-color: #ffffff;
  color: #000000;
  transition: background 0.3s ease;
}
.intro-icon:nth-child(3) {
  margin: 2rem 0;
  background-color: #ffffff;
  color: #000000;
}
.intro-icon:nth-child(3):hover {
  background-color: #000000;
  color: #ffffff;
  transition: background 0.3s ease;
}
.intro-icon-google,
.intro-icon-youtube {
  display: flex;
  height: 3rem;
  background-color: #000000;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background 0.3s ease;
}
.intro-icon-youtube {
  margin-top: 2rem;
  background-color: #2faaf1;
}
.intro-icon-google-inner {
  background: url("images/white_google_plus.png");
}
.intro-icon-youtube-inner {
  background: url("images/white_youtube.png");
}
.intro-icon-google-inner,
.intro-icon-youtube-inner {
  background-size: cover;
  background-repeat: no-repeat;
  width: 1.5rem;
  height: 1.7rem;
  transition: background 0.3s ease;
}
.intro-icon-google:hover {
  background-color: #ffffff;
  transition: background 0.3s ease;
}
.intro-icon-google:hover .intro-icon-google-inner {
  background: url("images/black_google_plus.png");
  background-size: cover;
  background-repeat: no-repeat;
  transition: background 0.3s ease;
}
.intro-icon-youtube:hover {
  background-color: #ffffff;
  transition: background 0.3s ease;
}
.intro-icon-youtube:hover .intro-icon-youtube-inner {
  background: url("images/blue_youtube.png");
  background-size: cover;
  background-repeat: no-repeat;
  transition: background 0.3s ease;
}
.products {
  height: 50rem;
  padding-top: 8rem;
  width: 100%;
}
.products .container {
  max-width: 960px;
}
.products-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}
.products-inner-box {
  width: 54%;
  height: 39rem;
}
.products-inner-box:first-child {
  width: 46%;
}
.products-inner-box-border {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #e9e9e9;
}
.products-inner-box-border-img {
  width: 75%;
  height: 60%;
}
.products-inner-box:first-child {
  padding: 0.5rem;
  box-shadow: 0px 0px 10px 0px #999999, 0px 0px 1px 0px white;
}
.products-inner-box:last-child {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  position: inherit;
  right: 3.5%;
}
.products-inner-box-block:first-child {
  width: 75%;
  margin-bottom: 3rem;
}
.products-inner-box-block:last-child {
  position: absolute;
  right: 17%;
  top: 64%;
}
.products-inner-box-block-title {
  font-family: "Cormorant Garamond", serif;
  letter-spacing: 0.1rem;
  font-size: 2.7rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}
.products-inner-box-block-text {
  font-family: "Poppins", sans-serif;
  color: #bdbdbd;
  line-height: 2;
}
.arrivals {
  height: 45rem;
}
.arrivals-title {
  font-family: "Cormorant Garamond", serif;
  color: #000000;
  font-size: 2.7rem;
  text-transform: capitalize;
  font-weight: 500;
  letter-spacing: 0.1rem;
  margin-left: 2rem;
  margin-top: 3rem;
}
.arrivals-sneakers {
  display: grid;
  grid-template-columns: auto auto auto auto;
  place-items: center;
  margin-top: 5rem;
  padding: 0 0.5rem;
  margin-right: 4rem;
}
.arrivals-sneakers-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.arrivals-sneakers-box-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-top: 3rem;
}
.arrivals-sneakers-box-description-name {
  font-family: "Poppins", sans-serif;
  color: #363639;
  font-size: 1rem;
  text-align: left;
}
.arrivals-sneakers-box-description-name span {
  font-family: "Poppins", sans-serif;
  color: #bdbdbd;
  font-size: 1rem;
  margin-left: 1.5rem;
}
.arrivals-sneakers-box-description-price {
  font-family: "Poppins", sans-serif;
  color: #bdbdbd;
  font-size: 1.5rem;
  margin-top: 0.9rem;
}
.arrivals-sneakers-box-hover {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 91%;
  height: 93%;
  background-color: #68ecc4;
  z-index: 100;
  opacity: 0;
  transition: opacity 0.5s ease;
  cursor: pointer;
}
.arrivals-sneakers-box-hover:hover {
  opacity: 0.9;
  transition: opacity 0.5s ease;
}
.arrivals-sneakers-box-hover-text {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  border: 0.1rem solid #ffffff;
  padding: 0.7rem 1.6rem;
  text-transform: capitalize;
  z-index: 110;
  opacity: 0.6;
}
.arrivals-sneakers-box:last-child img {
  width: 10rem;
  height: 8rem;
}
.arrivals-sneakers-box:first-child img {
  height: 8rem;
}
.arrivals-sneakers-box:nth-child(3) img {
  height: 7rem;
}
.arrivals-sneakers-box-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16rem;
  height: 21rem;
  background-color: #e1e1e1;
  position: relative;
  border-radius: 2px;
}
.arrivals-sneakers-box-img {
  position: absolute;
  width: 12rem;
  height: 9rem;
  top: 31%;
}
.imgsneaker {
  position: absolute;
  top: 199.3%;
  width: 16rem;
  height: 21rem;
  z-index: 1000;
  left: 50%;
}
.collection {
  height: 44rem;
}
.collection-inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}
.collection-inner-box {
  height: 100%;
  width: 50%;
}
.collection-inner-box:first-child {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 8rem;
}
.collection-inner-box:last-child {
  display: flex;
  justify-content: center;
  position: relative;
}
.collection-inner-box-border:first-child {
  display: flex;
  justify-content: center;
  width: 30.5rem;
  height: 32.2rem;
  padding: 0.4rem 0;
  box-shadow: 0px 0px 10px 0px #d3d3d6, 0px 0px 1px 0px white;
  position: relative;
  z-index: 200;
  background-color: #ffffff;
}
.collection-inner-box-border-color {
  width: 29.7rem;
  background-color: #fde7ed;
  position: relative;
  left: 0.4%;
  z-index: 200;
}
.collection-inner-box-border:last-child {
  width: 17rem;
  height: 24rem;
  position: absolute;
  background: linear-gradient(90deg, #96f8dc 100%, #affae5 50%, #aeffe8 0%);
  top: 33%;
  right: 0;
}
.collection-inner-box-title {
  font-family: "Cormorant Garamond", serif;
  color: #000000;
  font-weight: 500;
  opacity: 0.9;
  font-size: 2.9rem;
}
.collection-inner-box-text {
  font-family: "Poppins", sans-serif;
  color: #bdbdbd;
  margin-top: 2rem;
  margin-bottom: 4rem;
  font-size: 0.94rem;
  line-height: 2;
  padding-right: 3.4rem;
  user-select: none;
}
.collection-inner-box-block {
  position: relative;
  margin-left: 1rem;
}
.collection-inner-box-block .button-box {
  font-family: "Poppins", sans-serif;
  padding: 0.8rem 1.6rem;
  background-color: #68ecc4;
  border-radius: 2px;
  text-transform: capitalize;
  font-weight: 500;
}
.collection-inner-box-block .button-box::before {
  content: "";
  position: absolute;
  bottom: 20%;
  right: 6%;
  width: 100%;
  height: 100%;
  border: 0.1rem solid #68ecc4;
}
.collection-inner-box-img {
  position: absolute;
  width: 27rem;
  height: 31.7rem;
  top: 0;
  left: 0;
}
.testimonial {
  height: 26rem;
  background-color: #f9f9f9;
}
.testimonial-inner {
  max-width: 850px;
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0 auto;
}
.testimonial-arrow {
  position: absolute;
  top: 55%;
}
.testimonial-arrow:first-child {
  width: 8rem;
  left: 5%;
}
.testimonial-arrow:nth-child(2) {
  width: 8rem;
  right: 5%;
}
.testimonial-paragraph {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 16rem;
  padding-top: 7%;
}
.testimonial-paragraph-title {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-size: 3rem;
}
.testimonial-paragraph-text {
  font-family: "Poppins", sans-serif;
  color: #bdbdbd;
  font-size: 0.94rem;
  margin: 1.4rem 0;
  line-height: 1.8;
}
.testimonial-paragraph-name {
  font-family: "Poppins", sans-serif;
  color: #bdbdbd;
  font-weight: 500;
  font-size: 1.1rem;
}
.testimonial-paragraph-ux {
  font-family: "Poppins", sans-serif;
  color: #68ecc4;
  font-size: 0.8rem;
  font-weight: 700;
}
.blog {
  height: 57rem;
  padding-top: 5rem;
  position: relative;
}
.blog-title {
  font-family: "Cormorant Garamond", serif;
  text-transform: capitalize;
  font-size: 3rem;
  text-align: center;
  font-weight: 500;
}
.blog-inner {
  display: flex;
  flex-direction: row;
  position: relative;
  max-width: 805px;
  height: 49rem;
  margin: 0 auto;
}
.blog-inner-box {
  width: 50%;
  height: 100%;
}
.blog-inner-box .header-icon {
  bottom: 3%;
}
.blog-inner-box:first-child {
  padding-left: 6.5rem;
  position: relative;
}
.blog-inner-box:first-child .blog-inner-box-controller {
  display: none;
}
.blog-inner-box:last-child {
  padding-top: 5.5rem;
  padding-left: 1rem;
}
.blog-inner-box-border {
  position: absolute;
  border: 0.5rem solid #f9f9f9;
  width: 17rem;
  height: 21.5rem;
  border-radius: 5px;
  top: 3%;
  left: 14.5%;
}
.blog-inner-box-img {
  width: 24.2rem;
  height: 27.2rem;
  position: absolute;
}
.blog-inner-box-img-border {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  position: relative;
  left: 12%;
  margin-top: 5rem;
  width: 25rem;
  height: 28rem;
  box-shadow: 0px 0px 10px 0px #d3d3d6, 0px 0px 1px 0px white;
}
.blog-inner-box-title {
  font-family: "Poppins", sans-serif;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  text-transform: capitalize;
  font-weight: 500;
}
.blog-inner-box-text {
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  color: #bdbdbd;
  line-height: 2;
  padding-right: 7rem;
}
.blog-inner-box-text + div {
  position: absolute;
  top: 38%;
  right: 5%;
}
.blog-inner-box-content-border {
  position: relative;
  transform: rotate(270deg);
  bottom: 34%;
  left: 41%;
  z-index: -1;
}
.blog-inner-box-content-border-inner {
  background: linear-gradient(90deg, #96f8dc 100%, #affae5 50%, #aeffe8 0%);
  width: 21.6rem;
  height: 17.5rem;
}
.blog-inner-box-content-border-inner span {
  font-family: "Poppins", sans-serif;
  opacity: 0.2;
  font-size: 9.6rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.2rem;
  position: relative;
  right: 3%;
  top: 39%;
  color: #ffffff;
}
.blog-inner-box-controller {
  position: absolute;
  top: 70%;
  right: 4%;
}
.blog-inner-box-controller-circle {
  padding: 1px 5.5px;
  border-radius: 50%;
  background-color: #e1e1e1;
  margin-right: 1.1rem;
  cursor: pointer;
}
.blog-inner-box-controller-circle:hover {
  background-color: #68ecc4;
  transition: 0.3s background ease;
}
.blog-inner-box-controller-circle-click-background {
  padding: 0.01rem 0.5rem;
  border-radius: 50%;
  background-color: #000000;
  margin-right: 1.1rem;
  cursor: pointer;
}
.blog-inner-box-controller-circle-click-background:hover {
  background-color: #68ecc4;
  transition: 0.3s background ease;
}
.blog-inner-box-controller-line {
  position: absolute;
  top: 50%;
  width: 13%;
  height: 15%;
  background-color: #bdbdbd;
}
.blog-inner-box-controller-page {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  margin-left: 4.6rem;
  margin-right: 1rem;
}
.blog-inner-box-controller-ring {
  position: relative;
  border: 0.4rem solid #68ecc4;
  padding: 0.4px 4.5px;
  border-radius: 50%;
  left: 18%;
}
.blog-inner-box-controller .fas {
  font-size: 1.1rem;
  cursor: pointer;
}
.blog-inner-box-controller .fas:hover {
  color: #68ecc4;
}
.blog-inner-box-controller .fas:last-child {
  margin-left: 0.5rem;
}
.footer .container {
  max-width: 720px;
}
.footer_line {
  width: 100%;
  height: 0.01rem;
  background-color: #e9e9e9;
}
.footer-inner {
  display: grid;
  grid-template-columns: auto auto;
  place-items: center;
  padding: 3.5rem 0;
}
.footer-inner-box {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.footer-inner-box .header-box {
  width: auto;
}
.footer-inner-box-content {
  display: flex;
  flex-direction: column;
  padding-top: 0.8rem;
  position: relative;
  left: 15%;
}
.footer-inner-box-content:last-child {
  left: 31%;
}
.footer-inner-box-content span {
  font-family: "Poppins", sans-serif;
  color: #bbbbbb;
  font-size: 1rem;
  text-transform: capitalize;
  font-weight: 500;
}
.footer-inner-box-text {
  color: #bbbbbb;
  font-family: "Poppins", sans-serif;
  position: absolute;
  left: 29%;
  top: 6%;
}
.footer-inner-box:last-child {
  flex-direction: column;
  position: relative;
}
.footer-inner-box-submit {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 3.5rem;
  margin-bottom: 3vw;
}
.footer-inner-box-social-icons {
  display: flex;
  position: absolute;
  left: 30%;
  bottom: 0;
}
.footer-inner-box-social-icons .fab {
  color: #bbbbbb;
  font-size: 1.5rem;
  margin-right: 2rem;
  cursor: pointer;
  transition: color 0.3s ease;
  margin-bottom: 0.2rem;
}
.footer-inner-box-social-icons .fab:hover {
  color: #68ecc4;
  transition: color 0.3s ease;
}
.footer-inner-box-social-icons .fab:last-child {
  margin-right: 0;
}
.footer-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 1vw;
}
.footer-bottom span {
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  color: #bbbbbb;
  padding-top: 1rem;
}
.footer-bottom span:first-child {
  width: 92%;
}
.footer-bottom span:last-child {
  width: 8%;
  text-transform: capitalize;
}
.footer-button-submit {
  font-family: "Poppins", sans-serif;
  padding: 0.8rem 2.6rem;
  background-color: #68ecc4;
  border-radius: 5px;
  text-transform: capitalize;
  font-size: 1.1rem;
  font-weight: 500;
  outline: none;
  width: 25%;
  height: 100%;
  transition: background 0.3s ease;
  cursor: pointer;
}
.footer-button-submit:hover {
  background-color: #000000;
  color: #68ecc4;
  transition: background 0.3s ease;
}
.footer-input {
  width: 45%;
  height: 100%;
  box-shadow: 0px 0px 10px 0px #d3d3d6, 0px 0px 1px 0px white;
  padding: 1rem;
  margin-right: 0.5rem;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  border: 0;
  border-radius: 5px;
}
.footer-input:focus {
  background-color: #000000;
  transition: background 0.3s ease;
}
@media (max-width: 1000px) {
  .container {
    max-width: 780px;
  }
}
@media (max-width: 900px) {
  .container {
    max-width: 670px;
  }
  .header-box-inner {
    width: 35%;
  }
  .header-box-burger-circle span {
    width: 1rem;
  }
}
@media (max-width: 780px) {
  .container {
    max-width: 530px;
  }
  .header-box {
    width: 26%;
  }
}
@media (max-width: 660px) {
  .container {
    max-width: 480px;
  }
  .header-box:last-child {
    justify-content: center;
  }
}
@media (max-width: 565px) {
  .container {
    max-width: 39rem;
  }
  .header-box:first-child {
    width: auto;
    padding-top: 0.7rem;
  }
  .header-box:last-child {
    width: 13rem;
  }
  .header-box-inner {
    align-items: unset;
    width: 25%;
  }
  .header-box-inner:first-child,
  .header-box-inner:nth-child(even) {
    align-items: unset;
    margin-top: 0.9rem;
  }
  .header-box-inner:first-child span,
  .header-box-inner:nth-child(even) span {
    border: 0.1rem solid black;
  }
  .header-box-burger-circle {
    width: 85%;
    height: 53%;
  }
  .header-box-burger-circle span {
    height: 0.1rem;
  }
  .header-box-burger-circle span:first-child {
    top: 38%;
  }
  .header-box-burger-circle span:nth-child(2) {
    top: 48%;
  }
  .header-box-burger-circle span:last-child {
    top: 61%;
  }
  .header-icon {
    width: 1.9rem;
    height: 1.9rem;
  }
  .header-title {
    font-size: 1rem;
  }
}
@media (max-width: 540px) {
  .header-box-burger-circle span:first-child {
    height: 0.1rem;
    top: 36%;
  }
}
@media (max-width: 450px) {
  .container {
    max-width: 30rem;
  }
  .header {
    height: 7rem;
    padding-top: 2rem;
  }
  .header-title {
    font-size: 1rem;
  }
  .header-box:last-child {
    height: 3rem;
    width: 9rem;
  }
  .header-box-inner {
    width: 29%;
    align-items: center;
  }
  .header-box-inner:first-child {
    width: 10%;
    margin-top: 1.3rem;
  }
  .header-box-inner:first-child span {
    padding: 0.1rem;
  }
  .header-box-inner:nth-child(2) {
    width: 15%;
    margin-top: 1.3rem;
  }
  .header-box-inner:nth-child(2) span {
    padding: 0.1rem;
  }
  .header-box-burger-circle {
    width: 80%;
    height: 70%;
  }
  .header-box-burger-circle span {
    width: 0.7rem;
    height: 0.1rem;
  }
  .header-box-burger-circle span:first-child {
    top: 40%;
  }
  .header-box-burger-circle span:nth-child(2) {
    position: absolute;
    top: 48%;
  }
  .header-box-burger-circle span:last-child {
    top: 60%;
  }
}
@media (max-width: 360px) {
  .header-box-inner:first-child,
  .header-box-inner:nth-child(2) {
    margin-top: 1.3rem;
  }
}
@media (max-width: 280px) {
  .header {
    height: auto;
    padding-top: 1rem;
  }
  .header .container {
    max-width: 23.5rem;
  }
  .header-icon {
    width: 1rem;
    height: 1rem;
  }
  .header-title {
    font-size: 0.5rem;
  }
  .header-box:last-child {
    height: 2rem;
  }
  .header-box-inner {
    width: 28%;
  }
  .header-box-inner:first-child {
    margin-top: 0.8rem;
  }
  .header-box-inner:first-child span {
    padding: 0.15rem;
    border: 0.1rem solid black;
  }
  .header-box-inner:nth-child(2) {
    margin-top: 0.8rem;
    width: 10%;
  }
  .header-box-inner:nth-child(2) span {
    padding: 0.15rem;
    border: 0.1rem solid black;
  }
  .header-box-burger-circle {
    width: 70%;
    height: 85%;
  }
  .header-box-burger-circle span {
    height: 0.1rem;
    width: 0.5rem;
    position: absolute;
    top: 50%;
  }
  .header-box-burger-circle span:first-child {
    height: 0.1rem;
    width: 0.5rem;
    top: 37%;
  }
  .header-box-burger-circle span:last-child {
    height: 0.1rem;
    width: 0.5rem;
    top: 61%;
  }
}
@media (max-width: 1000px) {
  .intro-bottom-container {
    max-width: 900px;
  }
}
@media (max-width: 900px) {
  .intro {
    height: 56rem;
  }
  .intro-sneaker-img {
    width: 38rem;
    height: 38rem;
    left: 9%;
  }
  .intro-bottom-container {
    max-width: 750px;
  }
  .intro-bottom-box:first-child {
    width: 26%;
  }
}
@media (max-width: 780px) {
  .intro {
    height: 46rem;
  }
  .intro-inner {
    margin-top: 1rem;
  }
  .intro-inner-box-subtitle {
    margin-left: 4rem;
  }
  .intro-inner-box-subtitle span {
    padding: 1.5rem 7.5rem;
    right: 2%;
    top: 17%;
  }
  .intro-title {
    font-size: 7.7rem;
  }
  .intro-subtitle {
    font-size: 1.2rem;
  }
  .intro-sneaker-img {
    width: 30rem;
    height: 30rem;
    left: 10%;
    top: 36%;
  }
  .intro-bottom-container {
    max-width: 600px;
  }
  .intro-bottom-box:first-child {
    width: 30%;
    font-size: 0.8rem;
  }
}
@media (max-width: 660px) {
  .intro {
    height: 40rem;
    padding-top: 9rem;
  }
  .intro .container {
    max-width: 48rem;
  }
  .intro-title {
    font-size: 6rem;
  }
  .intro-subtitle {
    font-size: 0.9rem;
  }
  .intro-inner-box-subtitle {
    margin-left: 3rem;
  }
  .intro-inner-box-subtitle span {
    padding: 1.2rem 6rem;
  }
  .intro-sneaker-img {
    width: 25rem;
    height: 25rem;
  }
  .intro-bottom-container {
    max-width: 50rem;
  }
  .intro-bottom-box:first-child {
    right: 85%;
  }
  .intro-bottom-box:last-child {
    right: 0%;
  }
}
@media (max-width: 565px) {
  .intro {
    height: 34rem;
  }
  .intro .container {
    max-width: 39rem;
  }
  .intro-inner {
    margin-top: 0;
  }
  .intro-sneaker-img {
    width: 21rem;
    height: 21rem;
  }
  .intro-bottom-container {
    max-width: 40rem;
  }
  .intro-bottom-box:first-child {
    width: 40%;
    top: 0;
    right: 77%;
    font-size: 0.7rem;
  }
  .intro-icon {
    font-size: 1rem;
  }
  .intro-icon-google,
  .intro-icon-youtube {
    height: 2.7rem;
  }
  .intro-icon-google-inner,
  .intro-icon-youtube-inner {
    width: 1.1rem;
    height: 1.2rem;
  }
}
@media (max-width: 450px) {
  .intro {
    padding-top: 6rem;
    height: 25.5rem;
  }
  .intro .container {
    max-width: 30rem;
  }
  .intro-title {
    font-size: 4rem;
    letter-spacing: 0.1rem;
  }
  .intro-inner-box-subtitle {
    margin-left: 2rem;
  }
  .intro-inner-box-subtitle span {
    padding: 0.8rem 4.2rem;
    right: 3%;
    top: 25%;
  }
  .intro-subtitle {
    padding: 0.5rem 1rem;
    font-size: 0.6rem;
  }
  .intro-sneaker-img {
    width: 17rem;
    height: 17rem;
  }
  .intro-bottom-box:first-child {
    right: 80%;
    font-size: 0.4rem;
    width: 22%;
    top: 55%;
  }
  .intro-bottom-box:last-child {
    right: 7%;
  }
  .intro-icon {
    padding: 0.5rem;
    font-size: 0.7rem;
  }
  .intro-icon:nth-child(2) {
    margin-top: 1rem;
  }
  .intro-icon:nth-child(3) {
    margin: 1rem 0;
  }
  .intro-icon-google {
    height: 1.8rem;
  }
  .intro-icon-google-inner {
    width: 0.9rem;
    height: 1rem;
  }
  .intro-icon-youtube {
    margin-top: 1rem;
    height: 1.8rem;
  }
  .intro-icon-youtube-inner {
    width: 1rem;
    height: 1.1rem;
  }
}
@media (max-width: 360px) {
  .header-box-burger-circle span:first-child {
    height: 0.1rem;
  }
  .header-box-burger-circle span:last-child {
    top: 60%;
  }
}
@media (max-width: 280px) {
  .intro {
    padding-top: 3.8rem;
    height: 17.5rem;
  }
  .intro .container {
    max-width: 23rem;
  }
  .intro-title {
    font-size: 3rem;
    letter-spacing: 0.1rem;
  }
  .intro-subtitle {
    padding: 0.3rem 0.7rem;
    font-size: 0.4rem;
    letter-spacing: 0.5px;
  }
  .intro-inner-box-subtitle span {
    padding: 0.44rem 2.7rem;
    border: 0.1rem solid #68ecc4;
  }
  .intro-sneaker-img {
    width: 12rem;
    height: 12rem;
    left: 8%;
    top: 20%;
  }
  .intro-bottom-box:first-child {
    right: 81%;
    font-size: 0.3rem;
    width: 24%;
    top: 50%;
  }
  .intro-icon:first-child {
    font-size: 0.5rem;
  }
  .intro-icon:nth-child(2) {
    font-size: 0.5rem;
    padding: 0.5rem 0rem;
    margin-top: 0.8rem;
  }
  .intro-icon:nth-child(3) {
    padding: 0.49rem 0.6rem;
    font-size: 0.6rem;
    margin: 0.7rem 0;
  }
  .intro-icon-google {
    height: 1.5rem;
  }
  .intro-icon-google-inner {
    width: 0.6rem;
    height: 0.7rem;
  }
  .intro-icon-youtube {
    height: 1.6rem;
    margin-top: 0.8rem;
  }
  .intro-icon-youtube-inner {
    width: 0.7rem;
    height: 0.8rem;
  }
}
@media (max-width: 965px) {
  .products {
    height: 45rem;
    padding-top: 5rem;
  }
  .products .container {
    max-width: 780px;
  }
  .products-inner-box {
    height: 35rem;
  }
  .products-inner-box:last-child {
    right: 4.5%;
  }
  .products-inner-box-block-title {
    margin-bottom: 0.5rem;
  }
  .products-inner-box-block:first-child {
    width: 93%;
  }
  .products-inner-box-block:last-child {
    right: 0;
  }
}
@media (max-width: 780px) {
  .dark_mode .products-inner-box:last-child {
    box-shadow: 55px 55px 15px -60px black, -55px -55px 15px -60px black;
  }
  .products {
    height: 66rem;
  }
  .products-inner {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .products-inner-box:first-child,
  .products-inner-box:last-child {
    width: 40rem;
  }
  .products-inner-box:last-child {
    justify-content: unset;
    align-items: unset;
    right: 0;
    top: 0;
    margin-top: 6rem;
    padding: 1rem 2rem;
    border-radius: 15px;
    height: 17rem;
    box-shadow: 55px 55px 15px -60px #bfbfbf, -55px -55px 15px -60px #bfbfbf;
  }
  .products-inner-box-block:last-child {
    right: 2rem;
    top: 12rem;
  }
}
@media (max-width: 450px) {
  .products {
    height: 61rem;
  }
  .products-inner-box:first-child {
    width: 33rem;
    height: 30rem;
  }
  .products-inner-box:last-child {
    width: 32rem;
    height: 15rem;
  }
  .products-inner-box-block:last-child {
    top: 11rem;
  }
  .products-inner-box-block-title {
    font-size: 2.1rem;
  }
  .button-box {
    padding: 0.5rem 1.5rem;
  }
}
@media (max-width: 345px) {
  .products {
    height: 54rem;
  }
  .products-inner-box:first-child {
    width: 27rem;
    height: 24rem;
  }
  .products-inner-box:last-child {
    width: 27rem;
    padding: 1rem;
  }
  .products-inner-box-block-title {
    font-size: 1.8rem;
  }
}
@media (max-width: 280px) {
  .products {
    height: 40rem;
    padding-top: 3rem;
  }
  .products-inner-box:first-child {
    width: 22rem;
    height: 19rem;
    padding: 0.3rem;
  }
  .products-inner-box:last-child {
    width: 22rem;
    height: 10rem;
    margin-top: 3rem;
    border-radius: 10px;
    box-shadow: 45px 40px 20px -43px #bfbfbf, -45px -36px 20px -43px #bfbfbf;
  }
  .products-inner-box-block {
    margin-bottom: 0;
  }
  .products-inner-box-block-title {
    font-size: 1.3rem;
  }
  .products-inner-box-block-text {
    font-size: 0.8rem;
  }
  .products-inner-box-block:last-child {
    top: 7rem;
    right: 1rem;
  }
  .button-box {
    font-size: 0.6rem;
  }
}
@media (max-width: 900px) {
  .arrivals {
    height: 80rem;
  }
  .arrivals-sneakers {
    grid-template-columns: auto auto;
    margin-right: 0;
  }
  .arrivals-sneakers-box {
    margin-bottom: 5rem;
  }
}
@media (max-width: 660px) {
  .arrivals {
    height: 73rem;
  }
}
@media (max-width: 450px) {
  .arrivals {
    height: 150rem;
  }
  .arrivals-title {
    text-align: center;
    margin: 0;
  }
  .arrivals-sneakers {
    display: flex;
    flex-direction: column;
  }
  .arrivals-sneakers-box-inner {
    width: 18rem;
    height: 23rem;
  }
}
@media (max-width: 415px) {
  .arrivals {
    height: 140rem;
  }
}
@media (max-width: 900px) {
  .collection {
    height: 42rem;
  }
  .collection .container {
    max-width: 700px;
  }
  .collection-inner-box-text {
    font-size: 0.8rem;
  }
  .collection-inner-box-border:first-child {
    width: 26.5rem;
    height: 29.5rem;
    right: 2rem;
  }
  .collection-inner-box-border-color {
    width: 25.7rem;
  }
  .collection-inner-box-img {
    width: 24rem;
    height: 28.7rem;
  }
}
@media (max-width: 780px) {
  .collection {
    height: 38rem;
  }
  .collection .container {
    max-width: 600px;
  }
  .collection-inner-box:first-child {
    margin-top: 12rem;
  }
  .collection-inner-box-text {
    padding-right: 0;
  }
  .collection-inner-box-border:first-child {
    width: 22.5rem;
    height: 25.5rem;
  }
  .collection-inner-box-border:last-child {
    top: 28%;
    height: 20rem;
    width: 15rem;
  }
  .collection-inner-box-border-color {
    width: 21.7rem;
  }
  .collection-inner-box-img {
    width: 19rem;
    height: 24.7rem;
  }
}
@media (max-width: 660px) {
  .collection {
    height: 80rem;
    padding: 5rem 0;
  }
  .collection-inner {
    flex-direction: column-reverse;
  }
  .collection-inner-box:first-child {
    width: 80%;
    height: 28rem;
    margin-top: 0;
    padding: 0 3rem;
    padding-top: 1rem;
    border-radius: 15px;
    position: relative;
    box-shadow: 55px 55px 15px -60px #bfbfbf, -55px -55px 15px -60px #bfbfbf;
  }
  .collection-inner-box:last-child {
    width: 100%;
  }
  .collection-inner-box-border:first-child {
    width: 29rem;
    height: 31.8rem;
  }
  .collection-inner-box-border:last-child {
    width: 19rem;
    height: 24rem;
    top: 15rem;
    right: 10rem;
  }
  .collection-inner-box-border-color {
    width: 28rem;
  }
  .collection-inner-box-img {
    width: 25rem;
    height: 31rem;
  }
  .collection-inner-box-block {
    position: absolute;
    right: 2rem;
    top: 15rem;
  }
}
@media (max-width: 415px) {
  .collection {
    height: 77rem;
  }
  .collection-inner-box:first-child {
    height: 20rem;
  }
  .collection-inner-box:last-child {
    height: 40rem;
  }
  .collection-inner-box-border:first-child {
    width: 25rem;
    height: 27rem;
  }
  .collection-inner-box-border:last-child {
    top: 13rem;
    width: 15rem;
    height: 19rem;
    right: 6rem;
  }
  .collection-inner-box-border-color {
    width: 24rem;
  }
  .collection-inner-box-img {
    width: 22rem;
    height: 26rem;
  }
}
@media (max-width: 380px) {
  .collection-inner-box:first-child {
    padding: 0 1.5rem;
    padding-top: 1rem;
  }
  .collection-inner-box-block {
    right: 1rem;
    top: 16rem;
  }
  .collection-inner-box-text {
    margin-top: 1rem;
  }
  .collection-inner-box .button-box {
    padding: 0.6rem 1.1rem;
  }
}
@media (max-width: 345px) {
  .collection {
    height: 66rem;
  }
  .collection-inner-box:last-child {
    height: 30rem;
  }
  .collection-inner-box-title {
    font-size: 2rem;
  }
  .collection-inner-box-img {
    width: 17rem;
    height: 21rem;
  }
  .collection-inner-box-border:first-child {
    width: 20rem;
    height: 22rem;
  }
  .collection-inner-box-border:last-child {
    top: 9rem;
    width: 12rem;
    height: 17rem;
  }
  .collection-inner-box-border-color {
    width: 19rem;
  }
}
@media (max-width: 280px) {
  .collection {
    height: 57rem;
    padding: 4rem 0;
  }
  .collection-inner-box:first-child {
    height: 17rem;
  }
  .collection-inner-box-title {
    font-size: 2rem;
  }
  .collection-inner-box-text {
    font-size: 0.7rem;
  }
  .collection-inner-box-block {
    top: 13.5rem;
  }
  .collection-inner-box:last-child {
    height: 26rem;
  }
  .collection-inner-box-border:first-child {
    width: 17rem;
    height: 19rem;
  }
  .collection-inner-box-border-color {
    width: 16rem;
  }
  .collection-inner-box-border:last-child {
    top: 7.5rem;
    width: 9rem;
    height: 14rem;
    right: 5rem;
  }
  .collection-inner-box-img {
    width: 14rem;
    height: 18rem;
  }
}
@media (max-width: 900px) {
  .testimonial {
    height: 25rem;
  }
  .testimonial-arrow {
    top: 41%;
  }
  .testimonial-paragraph {
    padding-left: 7rem;
    padding-right: 7rem;
  }
}
@media (max-width: 565px) {
  .testimonial {
    height: 21rem;
  }
  .testimonial-arrow:first-child,
  .testimonial-arrow:nth-child(2) {
    width: 5rem;
  }
  .testimonial-paragraph {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media (max-width: 515px) {
  .testimonial-paragraph {
    padding-left: 5rem;
    padding-right: 5rem;
  }
  .testimonial-paragraph-text {
    font-size: 0.8rem;
  }
}
@media (max-width: 450px) {
  .testimonial-paragraph {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media (max-width: 410px) {
  .testimonial {
    height: 18rem;
  }
  .testimonial-paragraph {
    padding-left: 4.5rem;
    padding-right: 4.5rem;
  }
  .testimonial-paragraph-title {
    font-size: 2rem;
  }
  .testimonial-paragraph-text {
    font-size: 0.7rem;
  }
}
@media (max-width: 345px) {
  .testimonial-arrow:first-child,
  .testimonial-arrow:nth-child(2) {
    width: 3rem;
  }
}
@media (max-width: 280px) {
  .testimonial {
    height: 19rem;
  }
}
@media (max-width: 900px) {
  .blog-inner-box:first-child {
    padding-left: 0;
  }
  .blog-inner-box-border {
    left: 0;
  }
  .blog-inner-box-text {
    padding-right: 0;
  }
  .blog-inner-box-text + div {
    right: 0;
  }
  .blog-inner-box-content-border {
    left: 42%;
    bottom: 33%;
  }
  .blog-inner-box-content-border-inner {
    width: 21.3rem;
    height: 16.5rem;
  }
  .blog-inner-box-content-border-inner span {
    top: 35%;
  }
  .blog-inner-box-controller {
    right: 0;
  }
}
@media (max-width: 780px) {
  .dark_mode .blog-inner-box:last-child {
    box-shadow: 55px 55px 15px -60px black, -55px -55px 15px -60px black;
  }
  .blog {
    height: 95rem;
    padding-top: 3rem;
  }
  .blog .container {
    max-width: 700px;
  }
  .blog-inner {
    flex-direction: column;
    margin-top: 2rem;
    height: 80rem;
  }
  .blog-inner-box:first-child {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 78%;
  }
  .blog-inner-box:first-child .blog-inner-box-controller {
    display: block;
    top: 89%;
    right: 11%;
  }
  .blog-inner-box-border {
    border: 0.7rem solid #f9f9f9;
    left: 15%;
    width: 22rem;
    height: 27.5rem;
  }
  .blog-inner-box-img {
    width: 33.2rem;
    height: 35.2rem;
  }
  .blog-inner-box-img-border {
    left: 0;
    margin-top: 6rem;
    width: 34rem;
    height: 36rem;
  }
  .blog-inner-box-content-border {
    left: 27%;
    bottom: 17%;
  }
  .blog-inner-box-content-border-inner {
    width: 24rem;
    height: 17rem;
  }
  .blog-inner-box-content-border-inner span {
    font-size: 10.5rem;
    letter-spacing: 0.5rem;
    top: 32%;
  }
  .blog-inner-box:last-child {
    flex-direction: column;
    width: 70%;
    height: 21%;
    margin: 0 auto;
    padding: 0 3rem;
    padding-top: 1rem;
    border-radius: 15px;
    box-shadow: 55px 55px 15px -60px #bfbfbf, -55px -55px 15px -60px #bfbfbf;
    position: relative;
  }
  .blog-inner-box-text + div {
    top: 12rem;
    right: 2rem;
  }
  .blog-inner-box:last-child .blog-inner-box-controller {
    display: none;
  }
}
@media (max-width: 700px) {
  .blog-inner-box-content-border {
    transform: rotateX(0deg);
    left: 0;
    bottom: 3%;
  }
  .blog-inner-box-content-border-inner {
    width: auto;
    height: auto;
    background: #ffffff;
  }
  .blog-inner-box-content-border-inner span {
    top: 0;
    right: 0;
    color: #000000;
  }
}
@media (max-width: 565px) {
  .blog-inner-box-border {
    left: 10%;
  }
}
@media (max-width: 500px) {
  .blog-inner-box-border {
    width: 20.5rem;
    height: 24.5rem;
  }
  .blog-inner-box-img {
    width: 29.2rem;
    height: 31.2rem;
  }
  .blog-inner-box-img-border {
    width: 30rem;
    height: 32rem;
  }
  .blog-inner-box-text {
    font-size: 0.8rem;
  }
}
@media (max-width: 415px) {
  .blog {
    height: 85rem;
  }
  .blog-inner {
    height: 70rem;
  }
  .blog-inner-box:first-child {
    height: 75rem;
  }
  .blog-inner-box-border {
    width: 17.5rem;
    height: 21.5rem;
  }
  .blog-inner-box-img {
    width: 25.2rem;
    height: 27.2rem;
  }
  .blog-inner-box-img-border {
    width: 26rem;
    height: 28rem;
  }
  .blog-inner-box-controller {
    top: 90%;
  }
  .blog-inner-box:last-child {
    height: 22rem;
  }
  .blog-inner-box-text {
    font-size: 0.7rem;
  }
}
@media (max-width: 380px) {
  .button-box {
    padding: 0.5rem 1.1rem;
  }
  .blog-inner-box:last-child {
    padding: 0 1rem;
    padding-top: 1rem;
  }
  .blog-inner-box-text + div {
    top: 12.5rem;
    right: 1rem;
  }
}
@media (max-width: 345px) {
  .blog {
    height: 73rem;
  }
  .blog-inner {
    height: 57rem;
  }
  .blog-inner-box-border {
    width: 14.5rem;
    height: 17.5rem;
    top: 5%;
  }
  .blog-inner-box-img-border {
    width: 21rem;
    height: 23rem;
  }
  .blog-inner-box-content-border-inner span {
    font-size: 8.5rem;
  }
  .blog-inner-box-controller {
    top: 87%;
  }
  .blog-inner-box:last-child {
    height: 16rem;
  }
  .blog-inner-box-img {
    width: 20.2rem;
    height: 22.2rem;
  }
}
@media (max-width: 280px) {
  .blog {
    height: 67rem;
    padding-top: 2rem;
  }
  .blog-title {
    font-size: 2.7rem;
  }
  .blog-inner {
    margin-top: 0;
    height: 60rem;
  }
  .blog-inner-box:first-child {
    height: 40rem;
  }
  .blog-inner-box:last-child {
    height: 14.5rem;
    width: 22rem;
    margin-top: 2rem;
  }
  .blog-inner-box-border {
    border: 0.4rem solid #f9f9f9;
    top: 7%;
    width: 11rem;
    height: 15rem;
  }
  .blog-inner-box-img {
    width: 17.2rem;
    height: 18.2rem;
  }
  .blog-inner-box-img-border {
    width: 18rem;
    height: 19rem;
    margin-top: 5rem;
  }
  .blog-inner-box-content-border {
    bottom: 0%;
  }
  .blog-inner-box-content-border-inner span {
    font-size: 7rem;
  }
  .blog-inner-box-text {
    font-size: 0.7rem;
  }
  .blog-inner-box-text + div {
    top: 11.5rem;
  }
}
@media (max-width: 725px) {
  .footer-input {
    width: 50%;
    margin: 0;
  }
  .footer-button-submit {
    width: 50%;
    margin-top: 1rem;
  }
  .footer-bottom {
    padding: 0 2%;
    padding-bottom: 1.5vw;
  }
  .footer-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .footer-inner-box {
    justify-content: space-between;
    padding: 0 7rem;
    margin: 0;
  }
  .footer-inner-box-content,
  .footer-inner-box-content:last-child {
    left: 0;
  }
  .footer-inner-box:last-child {
    justify-content: center;
    text-align: center;
    border-top: solid 0.1rem #e9e9e9;
    margin-top: 3rem;
    padding-top: 3rem;
  }
  .footer-inner-box-text {
    position: relative;
    top: 0;
    left: 0;
    font-size: 1.5rem;
  }
  .footer-inner-box-submit {
    justify-content: center;
    flex-direction: column;
  }
  .footer-inner-box-social-icons {
    position: relative;
    left: 0;
    justify-content: center;
    margin-top: 2rem;
  }
  .footer-inner-box-social-icons .fab {
    font-size: 2.5rem;
  }
}
@media (max-width: 660px) {
  .footer-bottom span:first-child {
    width: 90%;
  }
  .footer-bottom span:last-child {
    width: 10%;
  }
}
@media (max-width: 520px) {
  .footer-bottom span:first-child {
    width: 88%;
  }
  .footer-bottom span:last-child {
    width: 12%;
  }
}
@media (max-width: 500px) {
  .footer-input,
  .footer-button-submit {
    width: 60%;
  }
}
@media (max-width: 430px) {
  .footer-bottom span {
    width: auto !important;
  }
}
@media (max-width: 415px) {
  .footer-inner-box {
    padding: 0 3rem;
  }
  .footer-input,
  .footer-button-submit {
    width: 21rem;
  }
}
@media (max-width: 280px) {
  .footer-inner {
    padding: 2rem 0;
  }
  .footer-inner-box {
    flex-direction: column;
  }
  .footer-inner-box-content {
    justify-content: space-between;
    flex-direction: row;
    padding-top: 2rem;
  }
  .footer-inner-box-content:last-child {
    justify-content: space-between;
    flex-direction: row;
    padding-bottom: 0;
  }
  .footer-inner-box .header-box {
    padding: 0;
    margin: 0 auto;
  }
  .footer-inner-box .header-icon {
    width: 2.5rem;
    height: 2.5rem;
  }
  .footer-inner-box .header-title {
    font-size: 1.4rem;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
  }
  .footer-inner-box:last-child {
    padding-top: 2rem;
  }
  .footer-inner-box-text {
    font-size: 1.2rem;
  }
  .footer-inner-box-submit {
    margin-top: 2rem;
  }
  .footer-inner-box-social-icons .fab {
    font-size: 1.5rem;
  }
  .footer-inner-content {
    justify-content: space-between;
    padding-top: 2rem;
    padding-bottom: 1rem;
  }
  .footer-inner-content:last-child {
    justify-content: space-between;
  }
  .footer-bottom span:first-child,
  .footer-bottom span:last-child {
    font-size: 0.7rem;
  }
}
.dark_mode {
  background: #353535;
}
.dark_mode .side-nav-bar {
  background: #398f75;
}
.dark_mode .side-nav-bar-inner-form a {
  color: white;
}
.dark_mode .side-nav-bar-inner .fad::before {
  color: white;
  opacity: 1;
  transition: 0.3s ease color;
}
.dark_mode .side-nav-bar-inner .fad:hover::before {
  color: black;
  transition: 0.3s ease color;
}
.dark_mode .side-nav-bar-inner .fad::after {
  color: black;
  transition: 0.3s ease color;
}
.dark_mode .side-nav-bar-inner .fad:hover::after {
  color: white;
  transition: 0.3s ease color;
}
.dark_mode .button-box {
  background: #398f75;
  color: white;
}
.dark_mode .button-box::before {
  border-color: #398f75;
}
.dark_mode .header-box-inner:first-child span,
.dark_mode .header-box-inner:nth-child(2) span {
  border-color: white;
}
.dark_mode .header-box-burger-circle {
  background-color: white;
}
.dark_mode .header-box-burger-circle:hover {
  background-color: black;
  transition: 0.3 ease all;
}
.dark_mode .header-box-burger-circle:hover span {
  background-color: white;
  transition: 0.3 ease all;
}
.dark_mode .header-box-burger-circle span {
  background-color: black;
}
.dark_mode .header-icon {
  background: url("images/carting1.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.dark_mode .header-title {
  color: #398f75;
}
.dark_mode .header-title span {
  color: white;
}
.dark_mode .intro {
  background: url("images/shape1.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.dark_mode .intro-title {
  color: white;
  text-shadow: 5px 5px black;
}
.dark_mode .intro-subtitle {
  background-color: #398f75;
  color: white;
  text-shadow: 2px 2px black;
}
.dark_mode .intro-inner-box-subtitle span {
  border-color: #398f75;
}
.dark_mode .intro-bottom-box:first-child {
  color: white;
}
.dark_mode .intro-icon:first-child {
  background-color: black;
  color: #398f75;
  transition: 0.3s ease all;
}
.dark_mode .intro-icon:first-child:hover {
  transition: 0.3s ease all;
  background-color: white;
  color: black;
}
.dark_mode .products,
.dark_mode .collection,
.dark_mode .blog {
  box-shadow: 0px -90px 110px -140px #000000;
}
.dark_mode .products-inner-box:first-child {
  box-shadow: 0px 0px 10px 0px black;
}
.dark_mode .products-inner-box-block-title {
  color: white;
}
.dark_mode .products-inner-box-border {
  background: transparent;
}
.dark_mode .arrivals-title {
  color: white;
}
.dark_mode .arrivals-sneakers-box-hover {
  background-color: #398f75;
}
.dark_mode .arrivals-sneakers-box-description-name {
  color: white;
}
.dark_mode .collection-inner {
  padding-top: 3vw;
}
.dark_mode .collection-inner-box-title {
  color: white;
}
.dark_mode .collection-inner-box-border:first-child {
  box-shadow: 0px 0px 10px 0px black;
  background-color: transparent;
}
.dark_mode .collection-inner-box-border:last-child {
  background: #398f75;
}
.dark_mode .testimonial {
  background: #353535;
}
.dark_mode .testimonial-paragraph-title {
  color: white;
}
.dark_mode .blog-title {
  color: white;
}
.dark_mode .blog-inner-box-title {
  color: white;
}
.dark_mode .blog-inner-box-img-border {
  background-color: transparent;
  box-shadow: 0px 0px 10px 0px black;
}
.dark_mode .blog-inner-box-content-border-inner {
  background: #398f75;
}
.dark_mode .blog-inner-box-content-border-inner span {
  color: #e1e1e1;
  opacity: 1;
}
.dark_mode .blog-inner-box-controller-page {
  color: white;
}
.dark_mode .blog-inner-box-controller-circle-click-background {
  background-color: #ffbc00;
}
.dark_mode .blog-inner-box-controller .fas {
  color: white;
}
.dark_mode .blog-inner-box-controller .fas:hover {
  color: #398f75;
}
.dark_mode .blog-inner-box-controller-circle {
  background-color: white;
}
.dark_mode .blog-inner-box-controller-circle:hover {
  background-color: #398f75;
}
.dark_mode .blog-inner-box-controller-circle-click-background {
  background-color: #ffbc00;
}
.dark_mode .blog-inner-box-controller-ring {
  border-color: #398f75;
}
.dark_mode .footer-button-submit {
  background-color: #398f75;
  color: white;
}
.dark_mode .footer-button-submit:hover {
  background-color: white;
  color: #398f75;
}
.dark_mode .footer-input {
  box-shadow: 0px 0px 10px 0px black;
}
.dark_mode .footer-inner-box-social-icons .fab:hover {
  color: #398f75;
}
@media (max-width: 700px) {
  .dark_mode .blog-inner-box-content-border {
    top: -2%;
  }
  .dark_mode .blog-inner-box-content-border-inner {
    background: transparent;
  }
  .dark_mode .blog-inner-box-content-border-inner span {
    text-shadow: 5px 5px #398f75;
  }
}
@media (max-width: 660px) {
  .dark_mode .collection-inner-box:first-child {
    box-shadow: 55px 55px 15px -60px black, -55px -55px 15px -60px black;
  }
}
@media (max-width: 450px) {
  .dark_mode .intro-title {
    text-shadow: 3px 3px black;
  }
  .dark_mode .intro-subtitle {
    text-shadow: 1px 2px black;
  }
}
@media (max-width: 360px) {
  .dark_mode .intro-title {
    text-shadow: 3px 3px black;
  }
  .dark_mode .intro-subtitle {
    text-shadow: -1px 1px black;
  }
}
