//main: ../style.less

@media (max-width: 1000px) {
  .container {
    max-width: 780px;
  }
}

@media (max-width: 900px) {
  .container {
    max-width: 670px;
  }
  .header-box-inner {
    width: 35%;
  }
  .header-box-burger-circle span {
    width: 1rem;
  }
}

@media (max-width: 780px) {
  .container {
    max-width: 530px;
  }
  .header-box {
    width: 26%;
  }
}

@media (max-width: 660px) {
  .container {
    max-width: 480px;
  }
  .header-box:last-child {
    justify-content: center;
  }
}

@media (max-width: 565px) {
  .container {
    max-width: 39rem;
  }
  .header {
    &-box:first-child {
      width: auto;
    }
    &-box:last-child {
      width: 13rem;
    }
    &-box-inner {
      align-items: unset;
      &:first-child,
      &:nth-child(even) {
        align-items: unset;
        margin-top: 0.9rem;
      }
    }
    &-box-burger-circle {
      width: 60%;
      height: 55%;
      & span:first-child {
        top: 33%;
      }
    }
    &-icon {
      width: 2rem;
      height: 2rem;
    }
    &-title {
      font-size: 1.3rem;
    }
  }
}

@media (max-width: 450px) {
  .container {
    max-width: 30rem;
  }
  .header {
    height: 7rem;
    padding-top: 2rem;
    &-title {
      font-size: 1rem;
    }
    &-box:last-child {
      height: 3rem;
      width: 9rem;
    }
    &-box-inner {
      width: 29%;
      align-items: center;

      &:first-child {
        width: 10%;
        margin-top: 1.1rem;
        & span {
          padding: 0.2rem;
        }
      }
      &:nth-child(2) {
        width: 20%;
        margin-top: 1.1rem;
        & span {
          padding: 0.2rem;
        }
      }
    }
    &-box-burger-circle {
      width: 85%;
      height: 72%;
      & span {
        width: 0.7rem;
        height: 0.2rem;
        &:first-child {
          top: 25%;
        }
        &:last-child {
          top: 65%;
        }
      }
    }
  }
}
